@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-spotify: #1DB954;
  --color-dark: #121212;
  --color-dark-highlight: #1A1A1A;
  --color-text-gray: #B3B3B3;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-dark);
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased; /* Делает шрифты четкими как на iPhone */
  
}

.anim-slide-up {
  animation: slideUp 0.4s ease-out;
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1DB954;
  border-radius: 10px;
}

@layer utilities {
  .glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

/* Эффект плавающего фона (Liquid Background) */
.liquid-bg {
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  z-index: 0;
  pointer-events: none;
  /* Используем переменную из JS */
  background: radial-gradient(circle at center, var(--tw-gradient-from) 0%, transparent 50%);
  filter: blur(100px);
  animation: drift 15s infinite alternate ease-in-out;
}

@keyframes drift {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(10deg) scale(1.1) translate(5%, 5%);
  }
}